@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-500";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Revalia";
  src: url("../fonts/Revalia-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


:root {
  --font-family: "Roboto", sans-serif;
  --font-family-500: "Roboto-500", sans-serif;
  --primary: #34547a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary);
}

p {
  font-size: 1rem;
  color: #727272;
}

h1,
h2 {
  color: #000;
}

button {
  background-color: var(--primary);
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  padding: 1.46rem 2.59rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #34547aeb;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
}

.first_screen {
  background: #eeeff1;
  padding-bottom: 9rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.header .logo a {
  font-family: "Revalia", cursive;
  font-size: 3rem;
  color: var(--primary);
  text-transform: uppercase;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 2.6rem;
  padding-right: 0.6rem;
}

.header ul li a {
  display: inline-block;
  padding: 1.5rem 0;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.first_screen_block {
  display: flex;
  gap: 11.5%;
  margin-top: 4.5rem;
  flex-wrap: wrap;
}

.first_screen_block img {
  padding-left: 7.3%;
  max-width: 100%;
  height: auto;
  margin-top: -0.5rem;
}

.first_screen_block .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
}

.first_screen_block .text h1 {
  font-size: 3rem;
}

.first_screen_block .text p {
  margin-top: 2.9rem;
  line-height: 1.6;
}

.first_screen_block .text button {
  align-self: flex-start;
  margin-top: 3.1rem;
}

.about_me {
  margin-top: 7.3rem;
  padding-bottom: 5.7rem;
}

.about_me_block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.about_me h2 {
  font-family: var(--font-family-500);
  font-size: 32px;
}

.about_me p {
  font-family: var(--font-family);
  font-size: 16px;
  margin-top: 2.5rem;
  line-height: 1.6;
}

.numbers {
  background-color: var(--primary);
  padding: 6.1rem 0;

}

.numbers_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
}

.numbers_block .project {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.numbers_block .project p.text {
  width: 70px;
  font-family: var(--font-family);
  font-size: 16px;
  color: #fff;
  line-height: 1.6rem;
}

.numbers_block .project .text span {
  font-family: var(--font-family-500);
  font-size: 21px;
}

.skills {
  padding-top: 6.3rem;
  padding-bottom: 6.3rem;
}

.skills_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.skills_block .left {
  width: 38.9%;
  padding-top: 6.3rem;
}

.skills_block img {
  width: 48.2%;
  height: 446px;
  object-fit: contain;
}

.skills_block .left h2 {
  font-family: var(--font-family-500);
  font-size: 32px;
}

.progresses {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  gap: 1.1rem;
}

.progress {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.progress p {
  font-family: var(--font-family);
  font-size: 16px;
}

.line {
  width: 100%;
  height: 4px;
  padding-top: 1rem;
}

.line .grey {
  width: inherit;
  height: inherit;
  background: #c4c4c4;
}

.line .blue {
  background: #34547a;
  /* width: 78.4%; */
  height: inherit;
  position: relative;
  bottom: 4px;
}

.video {
  background: #eeeff1;
  padding-top: 6.1rem;
  padding-bottom: 6.1rem;
}

.video_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.video_block h2 {
  font-family: var(--font-family-500);
  font-size: 32px;
}

.video_block p {
  font-family: var(--font-family);
  margin-top: 2.5rem;
  line-height: 1.6;
}

.video_block video {
  width: 100%;
  margin-top: 3rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1.9rem;
}

.projects .project {
  width: 25%;
  position: relative;
  /* добавлено для позиционирования псевдоэлемента */
  overflow: hidden;
  /* чтобы псевдоэлемент не выходил за пределы */
}

.projects .project img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
  /* убрать возможные пробелы под изображением */
}

.projects .project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 84, 122, 0.8);
  background-image: url('../img/7.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22%;
  /* или cover, в зависимости от задачи */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  pointer-events: none;
  /* чтобы не мешать наведению */
}

.projects .project:hover::before {
  opacity: 1;
}

.clients {
  padding: 4.5rem 0;
}

.clients_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form {
  background: #eeeff1;
  margin-top: 1.6rem;
  padding: 6.2rem 0
}

.form_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form_block h2 {
  font-size: 32px
}

.form_block p {
  margin-top: 2.5rem;
  line-height: 1.6;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  width: 48.6%;
  gap: 1.4rem;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

input {
  width: 47.3%;
  padding: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
}

input,
textarea {
  background: #fff;
  border: none;
  max-width: 100%;
  min-width: 40%;
}

textarea {
  padding: 1rem 1.3rem;
  height: 10.8rem;
}

form button {
  align-self: center;
  margin-top: 1.68rem;
  padding: 1.16rem 3.03rem;
  font-size: 14px;
}

.footer {
  background-color: var(--primary);
  padding: 3rem;
}

.footer_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_block .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_block .left h4 {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 21px;
  color: #fff;
}

.footer_block .left p {
  font-family: var(--font-family);
  font-size: 13px;
  color: #fff;
}

.footer_block .right {
  gap: 1.28rem;
  display: flex;
  align-items: center;
}


@media screen and (max-width: 1200px) {
  .numbers_block {
    justify-content: center;
  }

  form {
    width: 60%;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    width: 90%;
  }

  .clients_block {
    justify-content: center;
    gap: 2.5%;
  }
}

@media screen and (max-width: 960px) {
  .projects .project {
    width: 50%;
  }
}

@media screen and (max-width: 867px) {
  .header {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .header ul {
    align-items: center;
  }

  .first_screen_block {
    flex-direction: column;
    align-items: center;
  }

  .first_screen_block img {
    padding: 0;
  }

  .first_screen_block .text {
    text-align: center;
  }

  .first_screen_block .text button {
    align-self: center;
  }

  .skills_block {
    flex-direction: column;
    align-items: center;
  }

  .skills_block .left {
    text-align: center;
    padding-top: 0;
  }

  .skills_block .left,
  .skills_block img {
    width: 90%;
  }

  .progress {
    align-items: center;
  }

  .skills_block img {
    padding-top: 6.3rem;
  }

  form {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .header ul {
    gap: 1.6rem;
    width: inherit;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header ul li a {
    font-size: 0.8rem;
  }

  .first_screen_block .text h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem !important;
  }

  .projects .project {
    width: 100%;
  }

  form {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .skills_block img {
    padding-top: 0;
  }

  form {
    width: 90%;
  }

  .footer_block {
    gap: 5%;
  }

  .footer_block .right {
    flex-direction: column;
    padding-top: 0;
  }
}