@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-500";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Revalia";
  src: url("../fonts/Revalia-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 
:root {
  --font-family: "Roboto", sans-serif;
  --font-family-500: "Roboto-500", sans-serif;
  --second-family: "Revalia", sans-serif;
  --primary: #34547a;
}

html {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

p {
  font-family: var(--font-family);
  font-size: 16px;
  color: #727272;
}

h1,
h2 {
  font-family: var(--font-family-500);
  color: #000;
}

button {
  background-color: var(--primary);
  font-family: var(--font-family);
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  padding: 21px 40px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.first_screen,
.about_me,
.numbers,
.skills,
.video,
.projects,
.clients,
.form,
.footer {
  width: 100%;
}

.first_screen {}

.first_screen .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
  padding-bottom: 49px;
}

.first_screen .header ul li a {
  display: inline;
  padding-top: 49px;
  padding-bottom: 49px;

}

.first_screen .header .logo {
  font-family: var(--second-family);
  font-size: 48px;
  color: var(--primary);
  text-transform: uppercase;
}


.first_screen .header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 42px;
  padding-right: 7px;
  padding-top: 4px;
}

.first_screen .header ul li {}

.first_screen .header ul li a {
  font-family: var(--font-family);
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
}

.first_screen_block {
  display: flex;
  flex-direction: row;
  margin-top: 8.2%;
  gap: 11.5%;
}

.first_screen_block img {
  padding-left: 7.3%;
  margin-top: 2%;
}

.first_screen_block .text {
  display: flex;
  flex-direction: column;
}

.first_screen_block .text h1 {
  font-size: 48px;
}

.first_screen_block .text p {
  margin-top: 8.4%;
  line-height: 26px;
}

.first_screen_block .text button {
  align-self: baseline;
  margin-top: 9.2%;
}
 */

:root {
  --font-family: "Roboto", sans-serif;
  --primary: #34547a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary);
}

p {
  font-size: 1rem;
  color: #727272;
}

h1,
h2 {
  font-weight: 500;
  color: #000;
}

button {
  background-color: var(--primary);
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  padding: 1.46rem 2.59rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #34547aeb;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
}

.first_screen {
  background: #eeeff1;
  padding-bottom: 9rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.header .logo {
  font-family: "Revalia", cursive;
  font-size: 3rem;
  color: var(--primary);
  text-transform: uppercase;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 2.6rem;
  padding-right: 0.6rem;
}

.header ul li a {
  display: inline-block;
  padding: 1.5rem 0;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.first_screen_block {
  display: flex;
  gap: 11.5%;
  margin-top: 4.5rem;
  flex-wrap: wrap;
}

.first_screen_block img {
  padding-left: 7.3%;
  max-width: 100%;
  height: auto;
  margin-top: -0.5rem;
}

.first_screen_block .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
}

.first_screen_block .text h1 {
  font-size: 3rem;
}

.first_screen_block .text p {
  margin-top: 2.9rem;
  line-height: 1.6;
}

.first_screen_block .text button {
  align-self: flex-start;
  margin-top: 3.1rem;
}

.about_me {
  margin-top: 7.3rem;
  padding-bottom: 5.7rem;
}

.about_me_block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.about_me h2 {
  font-family: var(--font-family-500);
  font-size: 32px;
}

.about_me p {
  font-family: var(--font-family);
  font-size: 16px;
  margin-top: 2.5rem;
  line-height: 1.6;
}














@media screen and (max-width: 1150px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 867px) {
  .header {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .header ul {
    align-items: center;
  }

  .first_screen_block {
    flex-direction: column;
    align-items: center;
  }

  .first_screen_block img {
    padding: 0;
  }

  .first_screen_block .text {
    text-align: center;
  }

  .first_screen_block .text button {
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .header ul {
    gap: 1.6rem;
    width: inherit;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header ul li a {
    font-size: 0.8rem;
  }

  .first_screen_block .text h1 {
    font-size: 2rem;
  }

  .about_me h2 {
    font-size: 1.8rem;
  }
}